---
title: Forgot password
published: true
listed: false
handle: forgot_password
---
{% extends 'layouts/default' %}

{% block content %}

<div class="container main-content">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-title">Forgot your password</h2>
    </div>

    <div class="col-md-4 col-md-offset-4">
      {% if current_account %}
        <div class="alert alert-warning">
          You're already authenticated!
        </div>
      {% else %}
        {% if auth_reset_password_instructions_sent %}
          <div class="alert alert-info">
            The instructions for changing your password have been emailed to you.
          </div>
        {% else %}
          <form action="{% path_to 'forgot_password' %}" method="POST">
            <input type="hidden" name="auth_action" value="forgot_password" />
            <input type="hidden" name="auth_content_type" value="accounts" />
            <input type="hidden" name="auth_id_field" value="email" />
            <input type="hidden" name="auth_password_field" value="password" />
            <input type="hidden" name="auth_reset_password_url" value="{{ base_url }}{% path_to reset_password %}" />
            <input type="hidden" name="auth_email_handle" value="reset_password_instructions" />
            <input type="hidden" name="auth_callback" value="{% path_to sign_in %}"
            />

            {% if auth_wrong_email %}
              <div class="alert alert-warning">
                Wrong email!
              </div>
            {% endif %}

            <div class="form-group">
              <label for="auth-email">Your E-mail</label>
              <input type="email" class="form-control" id="auth-email" placeholder="Email" name="auth_id" value="{{ params.auth_id }}">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        {% endif %}

        <hr/>

        <p><a href="{% path_to 'sign_in' %}">Go back to the sign in page</a></p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
