---
title: Change your password
published: true
listed: false
handle: reset_password
---
{% extends 'layouts/default' %}

{% block content %}

<div class="container main-content">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-title">Change your password</h2>
    </div>

    <div class="col-md-4 col-md-offset-4">
      {% if current_account %}
        <div class="alert alert-warning">
          You're already authenticated!
        </div>
      {% else %}
        <form action="{% path_to 'reset_password' %}" method="POST">
          <input type="hidden" name="auth_action" value="reset_password" />
          <input type="hidden" name="auth_content_type" value="accounts" />
          <input type="hidden" name="auth_password_field" value="password" />
          <input type="hidden" name="auth_reset_token" value="{{ params.auth_reset_token }}" />
          <input type="hidden" name="auth_callback" value="{% path_to me %}" />

          {% if auth_invalid_token %}
            <div class="alert alert-warning">Your token is valid</div>
          {% endif %}

          {% if auth_password_too_short %}
            <div class="alert alert-warning">Password too short!</div>
          {% endif %}

          <div class="form-group">
            <label for="auth-password">Your new password</label>
            <input type="password" class="form-control" id="auth-password" placeholder="Password" name="auth_password">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>

        <hr/>

        <p><a href="{% path_to 'sign_in' %}">Go back to the sign in page</a></p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
