---
title: Page not found
published: true
---
{% extends index %}

{% block 'main' %}
.row

  .panel.text-center
    {% editable_text message %}
    %h3 Arrggggh, page not found
    {% endeditable_text %}

{% endblock %}