---
title: Email registered with success!
published: true
---
{% extends layouts/default %}

{% block 'main' %}
.row

  .alert-box.success.text-center{ data: { alert: '' } }
    {% editable_text message %}
    %h3 Congratulations, your email address has been registered!
    {% endeditable_text %}

{% endblock %}
