---
title: About us
listed: true
published: true
position: 3
editable_elements:
  'content/header/background': '/samples/about-bg.jpg'
  'content/header/subheading': 'This is what I do.'
---
{% extends layouts/page %}
