---
title: Page not found
published: true
---
{% extends index %}

{% block 'main' %}
%header
  .container
    .row
      .col-lg-12
        {% editable_text message %}
        %h1 Arrggggh, page not found
        {% endeditable_text %}

{% endblock %}
