- # Footer
%footer
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        %ul.list-inline.text-center
          {% for metafield in site.metafields.social %}
          {% if metafield.value %}
          %li
            %a{ href: '{{ metafield.value }}' }
              %span.fa-stack.fa-lg
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-stack-1x.fa-inverse{ class: "fa-{{ metafield.name }}" }
          {% endif %}
          {% endfor %}



        %p.copyright.text-muted
          Copyright &copy; {{ site.title }} {{ now | format_date: '%Y' }}

- # jQuery
{{ 'jquery.min.js' | javascript_tag }}

- # Bootstrap Core JavaScript
{{ 'bootstrap.min.js' | javascript_tag }}

- # Custom Theme JavaScript
{{ 'clean-blog.js' | javascript_tag }}
