---
title: Nos Produits
published: true
handle: nos-produits
sections_dropzone_content: >
   [
        {
        "type": "informations",
        "settings": {
            "section_name": "Informations de l'entreprise"
        },
        "blocks": [
            {
                "type": "titre",
                "settings": {
                    "class": "nom-societe",
                    "title": "Les fous du bocal"
                }
            },
            {
                "type": "sous-titre",
                "settings": {
                    "class": "devise-societe",
                    "under-title": "Une conserverie pas comme les autres"
                }
            },
            {
                "type": "description",
                "settings": {
                    "class": "description-societe",
                    "description": "è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri e li assemblò per preparare un testo campione. È sopravvissuto non solo a più"
                }
            }

        ]
    },
    {
    	"type": "activites",
    	"settings": {
            "section_name": "Liste de produits",
            "identifier": "productlist",
            "display_control": "true",
            "full_width": false,
            "display_sm": true,
            "page_border": true
    	},
    	"blocks": [
    		{
    			"type": "list_item",
    			"settings": {
                    "id": "bloc-activite-1",
                    "picture": "/samples/jar-1-min.png",
                    "title": "Produit #1",
                    "caption": "Produit #1",
                    "link": "<p>Je découvre !</p>",
                    "url": "index.liquid",
                    "align_caption": "center"
    			}
    		},
    		{
    			"type": "list_item",
    			"settings": {
                    "id": "bloc-activite-2",
                    "picture": "/samples/jar-1-min.png",
    				"title": "Produit #2",
            		"caption": "Produit #2",
                    "link": "<p>Je découvre !</p>",
                    "url": "index.liquid",
                    "align_caption": "center"
    			}
    		},
    		{
    			"type": "list_item",
    			"settings": {
                    "id": "bloc-activite-3",
                    "picture": "/samples/jar-1-min.png",
                    "title": "Produit #3",
                    "caption": "Produit #3",
                    "link": "<p>Je découvre !</p>",
                    "url": "index.liquid",
                    "align_caption": "center"
    			}
    		}
    	]
    }
   ]




---
{% extends 'layouts/default' %}